.git/
.gitignore

target/
# DO NOT ignore the JAR 😡
!target/*.jar

mvnw
mvnw.cmd
.mvn/
pom.xml

src/

.idea/
*.iml
*.ipr
*.iws

logs/
*.log

.env
.env.example

.github/

fly.toml

Dockerfile
.dockerignore
compose.yaml

HELP.md
digest.txt

.DS_Store
Thumbs.db